
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>User Details</title>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/main.ctrl.js"></script>
<script src="js/main.service.js"></script>

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/commonCSS.css">


</head>
<body data-ng-app="app" data-ng-controller="MainController">

	<table width="100%" class="table-striped">
		<tr data-ng-repeat="user in users">
			<td>{{user.name}}</td>
			<td>{{user.email}}</td>
		</tr>
	</table>
	
	<button class="btn btn-lg btn-primary btn-block" type="submit"
		data-ng-click="getStudentDetails()">Get User Details</button>

</body>
</html>